PORT=5000
MONGODB_URI=mongodb+srv://rahulmernstackdev_db_user:Ub6BLc8S6Er2HRXV@cluster0.m7klryf.mongodb.net/?appName=Cluster0
JWT_SECRET=B4JWhOuKUvV7ZD9WMyjANICrDkCuyW3H80q3ZbcJhEE=
JWT_REFRESH_SECRET=V/1K74a0DUaPkyylvee6kZxmANdnYvIyBwiFO3qzR8I=
JWT_EXPIRE=15m
JWT_REFRESH_EXPIRE=7d
CLIENT_URL=http://localhost:5173
NODE_ENV=development
AI_API_KEY=
